.Galereya {
    width: 100%;
    display: flex;
    justify-content: center;
}

.GalereyaContainer {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GalereyaContant {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
aside {
    display: flex;
    flex-direction: column;
}
.AsideLink {
    display: flex;
    flex-direction: column;
}
.GalleryContImgBox {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.imgBox img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 6px;
}