@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


.container {
    position: relative;
    display: inline-block;
 }
 .button {
    padding: 0;
    width: 100px;
    border: 0;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: 0;
    font-size: 20px;
 }

 ul {
    list-style: none;
    padding: 0;
    margin: 0;
   }
   li {
    padding: 8px 12px;
   }
   
   li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
   }

   .ButtonChekInt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2vw;
    border: .1vw solid #ff66002b;
    border-radius: .4vw;
    overflow: hidden;
   }

   .ButtonChekInt button{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    font-size: .833vw;
    font-family: "Montserrat", sans-serif;
    background: none;
    color: #777;
   }

   #DivContainer {
    position: relative; 
    z-index: 5;
    font-size: .833vw;
   } 

   #UlDiv {
    position: absolute;

   }

   #duwnIcon {
    width: 2vw;
    height: 100%;
    background-color: #FF6400;
    color: #fff;
   }