.Navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavUp {
    width: 65vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 0;
}

.LogBut {
    display: flex;
    gap: .5vw;
    border-radius: .3vw;
}

.LogBut img {
    width: 6vw;
}

.LogBut button {
    width: 7.6vw;
    height: 2vw;
    padding: .4vw .8vw;
    background-color: #FF6400;
    border: none;
    border-radius: .3vw;
    color: #F6F8F9;
    font-family: Montserrat;
    font-size: .72vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25vw;
    border: .1vw solid;
    transition: .3s all ease;
}

.LogBut button:hover{
    background-color: #F6F8F9;
    color: #FF6400;
    border: .1vw solid #FF6400;
}

.TelEmail {
    display: flex;
}

.Tel {
    display: flex;
    align-items: center;
}

.Email {
    display: flex;
    align-items: center;
}

.LabInp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LabInp label {
    width: 26.14vw;
    border: .1vw solid #cacaca;
    padding: .21vw .83vw;
    border-radius: .3vw;
    background-color: #F5F7FA;
}

.LabInp label input {
    width: 23.22vw;
    height: 1.25vw;
    background: inherit;
    outline: none;
    border: none;
    font-size: .72vw;
}