body,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Burger {
    display: none;
}

@media (max-width:768px) {
    .Navbar {
        display: none;
    }

    .Burger {
        display: none;
        position: fixed;
        top: 0;
        z-index: 2;
    }
}